.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.holder {
  position: absolute;
  top: 50%;
  left: 70%;
  margin: auto;
  width: 80%;
  transform: translate(-50%, -50%);
  /* display: flex;
  flex-flow: row wrap; */
}

.btn {
  font-family: "Lobster", cursive;
  text-align: center;
  margin: auto;
  padding: 10px;
  font-size: 60pt;
  height: 200px;
  width: 200px;
  line-height: 50px;
  vertical-align: middle;
  border: ridge;
  border-radius: 8pt;
  background-color: darkred;
  color: red;
  text-shadow: 3px 2px 2px aliceblue;
}

.btn:focus {
  outline: 0;
}

#turn {
  font-size: 40pt;
  font-family: "Lobster", cursive;
  color: cyan;
  text-shadow: 1px 1px 1px darkred;
}

body {
  background-color: turquoise;
}
